<div>
  <h2>Debounce</h2>
  <form [formGroup]="debounceForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Search for food</mat-label>
      <input
        matInput
        placeholder="e.g. pizza"
        name="debounceInput"
        formControlName="debounceInput"
      />
    </mat-form-field>
    <br />
    <mat-label>Searching for: {{ this.typedText$ | async }}</mat-label>
  </form>
</div>
<br />
<mat-divider></mat-divider>
<h2>NGRX store effects/actions</h2>
<div>
  <button
    mat-raised-button
    color
    (click)="sendNotificationSuccess()"
    [disabled]="notificationActive$ | async"
  >
    Search
  </button>
</div>
<app-header [title]="title"></app-header>

<app-notification
  *ngIf="notification$ | async"
  [notification]="notification$ | async"
></app-notification>
